# --- Python ---
__pycache__/
*.py[cod]
*$py.class
venv/
.env

# --- Jupyter Notebooks ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*
*.log

# --- System---
.DS_Store
Thumbs.db

# --- Data ---
data/*
!data/.gitkeep